{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('assets/img/todolist_content.webp') }}" alt="todo list">{% endblock %}

{% block body %}

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Tâches</th>
			<th scope="col">Contenus</th>
			<th scope="col">Statuts</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for doneTask in doneTasks %}
			<tr>
				<td>{{ doneTask.title }}</td>
				<td>{{ doneTask.content }}</td>
				{% if doneTask %}
				<td>
					<span class="badge rounded-pill text-bg-success">Terminée</span>
				</td>
				{% endif %}
				<td>
					<form action="{{ path('task_delete', {'id' : doneTask.id }) }}">
						<button class="btn btn-danger btn-sm pull-right">Supprimer</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
